@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --background: #ffffff;
  --foreground: #000000;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ovo: var(--font-ovo);
  --font-lusitana: var(--font-lusitana);
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);

  /* theme colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* box shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* grid-template-columns */
  --grid-auto: repeat(auto-fit, minmax(200px, 1fr));
}

.dark {
  --background: #11001f;
  --foreground: #ededed;

  --color-lightHover: #2a004a;
  --color-darkHover: #fcf4ff;
  --color-darkTheme: #11001f;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.my-auto-grid {
  display: grid;
  grid-template-columns: var(--grid-auto);
  gap: 1.5rem;
}
